<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Records</title>
    <style>
        table {
            border: 1px solid black;
        }
        th, td {
            border: 1px solid black;
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>Records</h1>
    <table>
        <thead>
            <tr>
                <th style="width: 100px;">User ID</th>
                <th style="width: 100px;">Finish Time</th>
                <th th:each="question : ${questions}" th:text="${question.text}" style="width: 150px;"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="entry : ${recordAnswerMap}">
                <td th:text="${entry.key.user.accountId}"></td>
                <td th:text="${entry.key.finishTimestamp}"></td>
                <td th:each="answer : ${entry.value}" th:text="${answer.answerContent}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>